;; -*- coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Fri Jan 20 12:01:26 2012
;; Emacs version 21.4.1

;; Global section:
(setq desktop-missing-file-warning t)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("xbox" "dt" "velan30" "build" "nw" "alloc" "nw" "avo" "ouput" "npad" "testpad" "0.6" "st" "oper" "deviations" "wtcgls"))
(setq regexp-search-ring nil)
(setq register-alist nil)

;; Buffer section:
(desktop-create-buffer 205
  nil
  "clibrary"
  'dired-mode
  nil
  7545
  '(nil nil)
  t
  '("/home/dtrad/seismic/clibrary/")
  nil)

(desktop-create-buffer 205
  nil
  "seismic"
  'dired-mode
  nil
  1964
  '(1 t)
  t
  '("/home/dtrad/seismic/")
  nil)

(desktop-create-buffer 205
  "/home/dtrad/seismic/Makelibdan2"
  "Makelibdan2"
  'fundamental-mode
  nil
  1
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  nil
  "Makefile"
  'dired-mode
  nil
  89
  '(nil nil)
  t
  '("/home/dtrad/seismic/Makefile")
  nil)

(desktop-create-buffer 205
  "/home/dtrad/seismic/Makefile"
  "Makefile<2>"
  'makefile-mode
  nil
  249
  '(233 t)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/dtrad/seismic/Makesuradonfk0"
  "Makesuradonfk0"
  'fundamental-mode
  nil
  246
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/dtrad/seismic/suradonfk0.cpp"
  "suradonfk0.cpp"
  'c++-mode
  '(abbrev-mode)
  6076
  '(nil nil)
  nil
  nil
  nil)

(desktop-create-buffer 205
  "/home/dtrad/seismic/suinterp.c"
  "suinterp.c"
  'c-mode
  '(abbrev-mode)
  12416
  '(nil nil)
  nil
  nil
  nil)

